* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #f3f3f3;
  color: #000000;
}

#root {
  margin-right: 5%;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}

.logo {
  display: flex;
  align-items: center;
}
h1 {
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #c0342a;
  margin-top: 6px;
}

/* FORM */
.main-form {
  background-color: #ffffff;
  font-size: 12px;
  margin-bottom: 40px;
  padding: 30px;
  display: flex;
  align-items: center;
  border-radius: 16px;
  justify-content: space-evenly;
  gap: 10px;
  margin-left: 1%;
}

.hidden {
  display: none;
}

input,
select {
  background-color: #ffffff;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #000000;
  color: #000000;
  font-size: 14px;
}
input {
  width: 50%;
  color: #000000;
}
input::placeholder {
  color: #676770;
}

.char-limit {
  margin-left: -5px;
  margin-right: 10px;
}

select {
  width: 18%;
}

/* MAIN */
.main-container {
  display: grid;
  grid-template-columns: 280px 1fr;
  gap: 40px;
}
p {
  font-size: 18px;
  line-height: 1.4;
}

ul {
  list-style: none;
}

/* MAIN-ASIDE */

.aside-dep {
  padding: 30px 0 30px 0;
  background-color: #c0342a;
  border-radius: 0px 64px 0px 0px;
  height: 100%;
}

/* All Buttons*/
button {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  border: 0px solid transparent;
  background-color: #c0342a;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
}

.btn-large {
  font-size: 20px;
  width: 184px;
  height: 50px;
  color: #ffffff;
  border-radius: 8px;
}
.btn-post {
  width: 128px;
  height: 50px;
}
.btn-large:hover {
  background-color: #d6827cde;
}

.all {
  border-radius: 0 36px 0 0;
  width: 99.9% !important;
}
.btn-d {
  width: 100%;
  margin-bottom: 12px;
  text-align: start;
  padding: 12px 0 12px 28px;
}

.btn-d:hover {
  background-color: #d6827cde;
  border-left: 5px solid white;
}

.reactions {
  margin-left: auto;
  display: flex;
  gap: 8px;
  flex-shrink: 0;
}
.reactions button {
  background-color: #b6b3b3;
  padding: 7px 13px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  border-radius: 8px;
}
.reactions button:hover {
  background-color: #5f5f5f;
}

.reactions button:disabled {
  background-color: #ffffff;
}

/* MAIN-SECTION */
.post-container {
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 25px 40px;
  display: flex;
  align-items: center;
  gap: 24px;
  border-radius: 16px;
}

.who {
  text-transform: uppercase;
  font-size: 14px;
}

.department {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}

.bubble {
  background-color: #e8968182;
}

.loading {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
}

.post-count {
  margin-left: 15px;
  margin-bottom: 20px;
}
/* Media Queries */
@media (max-width: 1200px) {
  .post-container {
    flex-direction: column;
    align-items: end;
    gap: 6px;
  }
}

@media (max-width: 1000px) {
  .main-form {
    flex-direction: column;
    align-items: stretch;
  }
  .main-form * {
    width: 100%;
  }

  .char-limit {
    margin: 0;
  }

  .btn-post {
    max-width: 175px;
    margin: 0 auto;
  }
}

@media (max-width: 800px) {
  .main-container {
    grid-template-columns: 1fr;
  }
  .body-container {
    margin: 0 25px;
  }

  #root {
    margin: 0 15px;
  }

  .header,
  .main-form {
    margin-left: 0;
  }

  .btn-d,
  .aside-dep {
    display: none;
  }

  .dep-btn-mobile {
    display: block;
    margin-top: -30px;
    width: 100%;
    border: 1px solid #000;
    color: white;
    background-color: #ffffff;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    color: inherit;
    border-radius: 8px;
  }
  .btn-large:hover {
    transform: scale(100%);
    opacity: 0.75;
  }
}

@media (max-width: 650px) {
  body * {
    font-size: 16px;
  }

  .logo {
    gap: 3px;
  }
  h1 {
    font-size: 40px;
  }

  button {
    font-size: 16px;
  }

  .head-btn {
    padding: 16px 24px 13px 24px;
  }
  .btn-large {
    font-size: 18px;
  }
  .dep-btn-mobile {
    font-size: 12px;
  }
}

@media (max-width: 550px) {
  body * {
    font-size: 14px;
  }
  .header {
    margin-bottom: -5px;
    margin-left: -25px;
  }

  h1 {
    font-size: 24px;
    margin-left: -10px;
  }

  button {
    font-size: 12px;
  }

  .btn-post {
    max-width: 100px;
    margin: 0 auto;
  }

  .btn-large {
    font-size: 14px;
  }
  .head-btn {
    max-width: 100px;
  }
  li .department {
    font-size: 12px;
  }
}
